body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.logo {
  position: absolute;
  left: 46%;
  top: 4%;
  height: 20%;
}

h1 {
  font-size: 68px;
  letter-spacing: -2px;
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  font-family: 'Lobster Two', cursive;
  text-shadow: 2px 2px rgba(12, 11, 11, 0.56);
}

.top-container h2 {
  font-family: lato;
  color: #fff;
  font-size: 50px;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.top-container .intro {
  top: 24%; /* Adjust this value to move the positioned div up and down */
  width: 60%; /* Set the width of the positioned div */
}

.top-container .intro2 {
  top: 29%; /* Adjust this value to move the positioned div up and down */
  width: 60%; /* Set the width of the positioned div */
}

.top-container h3 {
  font-family: lato;
  font-size: 36px;
  font-family: lato;
  color: #fff;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  }

.top-container .accept {
  top: 37%; /* Adjust this value to move the positioned div up and down */
  width: 60%; /* Set the width of the positioned div */
}

.top-container .accept2 {
  top: 40%; /* Adjust this value to move the positioned div up and down */
  width: 60%; /* Set the width of the positioned div */
}

.top-container .accept3 {
  top: 43%; /* Adjust this value to move the positioned div up and down */
  width: 60%; /* Set the width of the positioned div */
}

.top-container .pageimage {
  width: 90%;
  padding-left:0px;
  padding-right:0px;
  padding-top:240px;
  padding-bottom:0px;
}

.top-container {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
  position: inline;
  z-index: 2;
  background-color: #0c9463;
  background-size: cover;
  background-position: center center;
  min-height: 635px;
}
.top-container .enter {
    position:relative;
    left:auto;
    color: #fff;
}
.bottom-container {
  background-color: #004445;
  width: 100%;
  text-align: center;
  position:absolute;
}

.bottom-text {
  color: #2c7873;
}

.table-cell2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 50px;
}

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

input {
  padding: 12px;
  border-radius: 5px;
  margin-top:350px

}

.top-container .white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid #2c7873;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}

.top-container .agrement {
  position: absolute;
  background: #e74c3c none repeat scroll 0 0;
  margin-top: 80px;
  left:890px;
  padding: 10px 20px;


}

 .agrement a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: lato;
  font-weight: 900;
}

h4 {
  font-size: 17px;
  text-align: left;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .table-cell {
    font-size: 25px;
  }

  input {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
